*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    overflow: hidden;
}
#root{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 30px;
}
.App{
    display: grid;
    align-items: center;
    justify-items: center;

}

#field{
    display: grid;
    grid-template-columns: 25vw 75vw;
    height: 100%;
}
#filter{
    height:   calc(100vh - 130px);
    padding: 30px;
    border-right: 2px solid #008500;
}