#basket{
    position: fixed;
    height: 100px;
    background-color: #00CC00;
    border-radius: 50px;
    padding: 20px;
    bottom: 80px;
    right: 80px;
    cursor: pointer;
}

#basketCount{
    display: flex;
    position: fixed;
    font-size: 20px;
    height: 35px;
    width: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FFA400;
    color: white;
    border-radius: 30px;
    padding: 5px;
    bottom: 155px;
    right: 80px;
}
