.BusketModalItem{
    display: flex;
    font-size: 14px;
    background-color: rgba(0,0,0,0.1);
    margin: 2px;
    align-items: center;
    justify-content: space-between;
}

.BusketModalItem>img{
    height: 90px;
    width: 120px;
    border: 3px solid #00CC00;
    margin: 5px;
}
.BusketModalItem>div{
    font-size: 20px;
    margin: 5px;

}
.ModalItem{
    display: flex;
    width: 100%;
    justify-content:  space-between;
    align-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.ModalItem>div{
    font-size: 30px;

}

.ButtonBuy{
    width: 300px;
    display: flex;
    margin: 30px;
    width: auto;
    justify-content: center;
    align-content: center;
    background-color: #00CC00;
    border-radius: 10px;
}
.ButtonBuy>input{
    background-color: #00CC00;
    color: white;
    width: 100px;
    height: 60px;
    border: 0px;
    border-left: 2px solid #bdff7a;
    border-right: 2px solid #bdff7a;
    text-align: center;
    font-size: 40px;
}
.ButtonBuy>input::-webkit-outer-spin-button,
.ButtonBuy>input::-webkit-inner-spin-button {
    display: none;
}
.ButtonBuy>button{
    align-content: center;
    background-color: #00CC00;
    color: white;
    text-align: center;
    font-size: 40px;
    width: 60px;
    padding: 5px;
    margin: 0;
    border: none;
    height: 60px;
    border-radius: 10px;
}