.ButtonHeader{
    background-color: #39E639;
    color: white;
    height: 70px;
    width: clamp(150px, 10vw, 800px);
    border: 0px;
    font-size: clamp(1rem, 5vw, 2rem);
    cursor: pointer;
    padding: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;

    align-items: center;
}
.ButtonHeader:hover{
    box-shadow: inset 40px 40px 40px 40px rgba(0, 0, 0, 0.25);
    /*background-color: #00CC00;*/
}

.ButtonHeader:active{
    color: #67E667;
    background-color: #008500;
}

.ButtonHeader.active{
    background-color: #008500;
}